/*===================================
=            Dash Footer            =
===================================*/

#dash-footer {
	border-top:1px solid #e1e6e9;
	padding-top: 20px;
	padding-bottom: 20px;
	small {
		font-size: 14px;
		color:#7f8fa4;
		padding-left: 30px;
	}
	img {
		float: right;
		margin-right: 30px;
	}
}

/*=====  End of Dash Footer  ======*/
