/*========================================
=            Location Content            =
========================================*/

#location-content {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 35px;
	padding-right: 35px;
	@include breakpoint(desktop) {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	/* location table */
	#locations-data {
		table {
			@include general-table;
			.action-edit-btn {
				@include action-btn;
				background: palette(blue,dark);
				&:hover {
					background:$color-orange-dark;
				}
			}
		}
	}
}

/*=====  End of Location Content  ======*/
